@model IEnumerable<ClassiqueWeb.Models.Achat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Achat_Confirme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abonne.Nom_Abonne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enregistrement.Titre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Achat_Confirme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abonne.Nom_Abonne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enregistrement.Titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code_Achat }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code_Achat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code_Achat })
        </td>
    </tr>
}

</table>
