@model ClassiqueWeb.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre_Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre_Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annee_Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee_Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pochette)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pochette)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editeur.Nom_Editeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editeur.Nom_Editeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Libelle_Abrege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Libelle_Abrege)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code_Album }) |
    @Html.ActionLink("Back to List", "Index")
</p>
