@model IEnumerable<ClassiqueWeb.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre_Album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annee_Album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pochette)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editeur.Nom_Editeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Libelle_Abrege)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre_Album)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annee_Album)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pochette)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editeur.Nom_Editeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Libelle_Abrege)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code_Album }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code_Album }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code_Album })
        </td>
    </tr>
}

</table>
