@model ClassiqueWeb.Models.Musicien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musicien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Musicien)
        </dd>

        <dt>
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom_Musicien)
        </dd>

        <dt>
            Année de naissance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee_Naissance)
        </dd>

        <dt>
            Année de mort
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee_Mort)
        </dd>

        <dt>
            Photo
        </dt>

        <dd>
            <form method="post" enctype="multipart/form-data">
                @{
                    if (Model.Photo != null)
                    {
                        string imageBase64 = Convert.ToBase64String(Model.Photo);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img src="@imageSrc" width="100" height="100" />
                    }
                }
            </form>
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Libelle_Abrege)
        </dd>

        <dt>
            Instrument
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instrument.Nom_Instrument)
        </dd>
        <dt>
            Pays
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays.Nom_Pays)

        </dd>

    </dl>
</div>

<h3>Compositions</h3>
    @foreach (var item in ViewBag.Composer)
            {
        <tr>
            <td>
                @item.Titre_Oeuvre  <br />
            </td>
        </tr>
       
    }
<h3>Interprétations</h3>

<br />
    @foreach (var item in ViewBag.Interpreter)
    {
<tr>
        <td>
            @item.Titre  
        </td>
    <td>
        <audio controls>
            <source src=@ViewBag.Enregistrement type="audio/mp3">
        </audio>
    </td >
    <td>
        @Html.ActionLink("Ajouter au panier", "AjoutPanier", new { morceau = item.Code_Morceau})
    </td>
        </tr >
        <br />
    }

   <p>
       @Html.ActionLink("Retour au catalogue",(string)ViewBag.TypeIndex, new { page = ViewBag.Page, searchString=ViewBag.SearchString })
</p>
