@model IEnumerable<ClassiqueWeb.Models.Abonne>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Abonne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code_Postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom_Abonne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pays.Nom_Pays)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Abonne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code_Postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom_Abonne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pays.Nom_Pays)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code_Abonne }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code_Abonne }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code_Abonne })
        </td>
    </tr>
}

</table>
