@model ClassiqueWeb.Models.Oeuvre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Oeuvre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Titre Oeuvre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre_Oeuvre)
        </dd>

        <dt>
            Sous-Titre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sous_Titre)
        </dd>

        <dt>
            Tonalité
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tonalite)
        </dd>

        <dt>
            Année
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annee)
        </dd>

        <dt>
            Opus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opus)
        </dd>

        <dt>
            Numéro opus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numéro_Opus)
        </dd>

        <dt>
            Libellé type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_Morceaux.Libelle_Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retour à la liste", "Index")
</p>
