@model ClassiqueWeb.Models.Instrumentation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instrumentation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Instrument.Nom_Instrument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instrument.Nom_Instrument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oeuvre.Titre_Oeuvre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oeuvre.Titre_Oeuvre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code_Instrumentation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
