@model IEnumerable<ClassiqueWeb.Models.Achat>
@{
    ViewBag.Title = "HistoAchats";
}

<h2>Historique des achats</h2>
@using Microsoft.AspNet.Identity;
@Html.ActionLink("Retour au panier", "Panier", new { userId = User.Identity.GetUserId() })|
<table class="table">
    <tr>
        <th>
            Titre
        </th>
        <th>
            prix
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enregistrement.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enregistrement.Prix)
            </td>
        </tr>
    }

    <tr>
        <td>
            Total
        </td>
        <td>
            @Model.Sum(i => i.Enregistrement.Prix)
        </td>
    </tr>
    <tr>
        <td>
            Crédits Abonné
        </td>
        <td>
            @Model.Sum(i => i.Abonne.Credit)
        </td>
    </tr>
</table>

