@model IEnumerable<ClassiqueWeb.Models.Achat>


    @{
        ViewBag.Title = "Panier";
    }

    <h2>Panier</h2>
    @using Microsoft.AspNet.Identity;
    @Html.ActionLink("Valider mon panier", "ValiderPanier", new { userId = User.Identity.GetUserId() })|
    @Html.ActionLink("Historique de mes achats", "HistoAchats", new { userId = User.Identity.GetUserId() })|

    <table class="table">
        <tr>
            <th>
                Titre
            </th>
            <th>
                prix
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Enregistrement.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enregistrement.Prix)
                </td>
                <td>
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Code_Achat })
                </td>
            </tr>
        }

        <tr>
            <td>
                Total
            </td>
            <td>
                @Model.Sum(i => i.Enregistrement.Prix)
            </td>
        </tr>
        <tr>
            <td>
                Crédits Abonné
            </td>
            <td>
                @Model.Sum(i => i.Abonne.Credit)
            </td>
        </tr>   
    </table>
