@model ClassiqueWeb.Models.Editeur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Editeur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_Editeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Editeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays.Nom_Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays.Nom_Pays)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code_Editeur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
