<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Classique Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="icon-bar"></span>
                    }
                </button>
                @Html.ActionLink("Classique Web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("À propos", "About", "Home")</li>
                    <li class="dropdown">
                        <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Rechercher
                            <span class="caret"></span>
                        </a>
                        <ul id="lien" class="dropdown-menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Catalogue", "Index", "Musiciens")</li>
                            <li>@Html.ActionLink("Compositeurs", "IndexCompose", "Musiciens")</li>
                            <li>@Html.ActionLink("Interprètes", "IndexInterprete", "Musiciens")</li>
                        </ul>
                    </li>
                    @using Microsoft.AspNet.Identity;
                    @if  (User.Identity.IsAuthenticated) {
                        <li>@Html.ActionLink("Panier", "../Achats1/Panier", new { userId = User.Identity.GetUserId() })</li>
                    }
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <p>Ce site a été réalisé par Solveig Lecarpentier, Stéphane Rongier et Maxime Vellard - @DateTime.Now.Year  <strong>DUT-AS</strong></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
